{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    <h1>Log In</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login">
    </form>

</div>

{% endblock %}
